{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>D-covid</title>
</head>

<body>
    <div class="container mt-7 mb-5">
        <section id="head-content">
            <div class="mt-5 mb-5 text-center d-flex flex-column">
                <h2 class="text-weight-600">
                    <a href="{% url 'main' %}" class="a-no-decoration">D COVID-19 Monitor</a>
                </h2>
                <p class="font-size-12">last update --- ago</p>
                <div class="container mt-5 mb-3">
                    <p class="font-size-11">Coronaviruses are a family of viruses that range from the common cold to
                        more severe viruses such as severe acute respiratory syndrome (SARS-CoV) and Middle East
                        respiratory syndrome (MERS-CoV). COVID-19 stands for coronavirus disease 2019, and it is
                        considered a “novel” (or new) coronavirus not previously seen in humans. The virus causing
                        COVID-19 is called SARS-CoV-2.</p>
                </div>
                <div class="container">
                    <h1>"SERVER IS DOWN. PLEASE WAIT A SECOND"</h1>
                </div>
            </div>
        </section>

        {% include 'components/footer.html' %}
    </div>
</body>

</html>