@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;900&display=swap');


html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    body {
        // only vertical scroll
        overflow-x: hidden !important;
        font-family: 'Nunito Sans', sans-serif;
    }

    // Remove side scrollbar
    ::-webkit-scrollbar {
        width: 0 !important;
    }

    .a-no-decoration {
        color: #242424 !important;
        &:hover {
            text-decoration: none !important;
        }
    }

    .cursor-context-menu {
        cursor: context-menu !important;
    }
}

.container {
    #head-content {
        min-height: 370px;
    }
}

.border-radius-015 {border-radius: 0.15rem !important;}
.scale-05-03s {
    transition: 0.2s ease-in-out;
    &:hover {
        transition: 0.2s ease-in-out;
        transform: scale(1.02) !important;
    }
}

// Font
.text-weight-600 {font-weight: 600;}
.font-size-11 {font-size: 1.050em;}
.font-size-12 {font-size: 1.150em;}
.font-size-14 {font-size: 1.35em;}

// Bg color
.bg-dark-grey {background-color: #5F6368;}

// Colors
.text-green {color: #8ACA2B;}
.text-red {color: #d63646;}

// Classes
.mt-7 {margin-top: 7.5em;}
.mt-8 {margin-top: 8.5em;}
.mt-10 {margin-top: 10em;}